@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #091310;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.text-glow:hover {
  text-shadow: 0 0 10px #39ff14, 0 0 10px #39ff14;
}
.glow {
  box-shadow: #39ff14 0px 0px 10px 0px;
}

.glow-on-hover:hover {
  box-shadow: #37ff14 0px 0px 10px 0px;
}

.top-bottom-overflow-fade {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.77) 30%,
    rgba(255, 255, 255, 0.505) 60%,
    rgba(255, 255, 255, 0.027) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.77) 30%,
    rgba(255, 255, 255, 0.505) 60%,
    rgba(255, 255, 255, 0.027) 100%
  );
}

.project-background {
  background-image: linear-gradient(to bottom, #37ff141b, #37ff1403);
}

.welcome {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 696'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3cpath d='M1163.1815817706604 491.2488328038027L1294.3837804247353 432.8338503874595 1235.9687980083922 301.63165173338456 1104.7665993543171 360.04663414972777z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M168.097%2c917.862C237.07%2c921.027%2c308.112%2c898.983%2c345.349%2c840.839C385.352%2c778.375%2c386.049%2c698.3%2c350.35%2c633.279C313.271%2c565.743%2c245.118%2c516.082%2c168.097%2c517.996C93.755%2c519.844%2c33.669%2c575.214%2c0.888%2c641.964C-28.169%2c701.131%2c-17.216%2c769.396%2c16.949%2c825.768C49.723%2c879.846%2c104.929%2c914.963%2c168.097%2c917.862' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M594.629%2c418.308C622.134%2c418.164%2c647.046%2c404.142%2c662.008%2c381.063C678.574%2c355.511%2c688.582%2c323.079%2c673.527%2c296.609C658.352%2c269.928%2c625.248%2c260.432%2c594.629%2c262.597C567.637%2c264.506%2c546.448%2c283.099%2c532.947%2c306.549C519.481%2c329.939%2c512.972%2c358.145%2c526.014%2c381.775C539.434%2c406.09%2c566.857%2c418.454%2c594.629%2c418.308' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M418.163%2c518.692C440.003%2c520.28%2c465.693%2c521.507%2c477.417%2c503.012C489.601%2c483.79%2c480.78%2c458.864%2c468.043%2c440.004C456.911%2c423.52%2c438.053%2c415.425%2c418.163%2c415.271C397.959%2c415.115%2c376.994%2c421.702%2c366.931%2c439.223C356.899%2c456.69%2c361.249%2c478.43%2c372.163%2c495.36C382.148%2c510.848%2c399.785%2c517.356%2c418.163%2c518.692' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M772.118%2c701.554C815.822%2c698.937%2c852.658%2c673.712%2c876.135%2c636.757C901.818%2c596.329%2c921.554%2c545.731%2c897.375%2c504.386C873.34%2c463.288%2c819.705%2c457.427%2c772.118%2c458.892C727.713%2c460.259%2c684.218%2c474.764%2c659.542%2c511.707C631.798%2c553.243%2c618.551%2c607.692%2c644.028%2c650.656C669.144%2c693.012%2c722.963%2c704.498%2c772.118%2c701.554' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1134.683889469555 159.62928367797656L919.2895326169621 148.13509420422872 1001.9472374376518 317.6085039342161z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1342.041%2c531.028C1378.616%2c530.909%2c1419.952%2c528.081%2c1438.42%2c496.511C1457%2c464.75%2c1442.643%2c425.129%2c1421.686%2c394.883C1403.776%2c369.036%2c1373.484%2c356.949%2c1342.041%2c357.415C1311.508%2c357.868%2c1283.856%2c372.142%2c1266.385%2c397.186C1245.473%2c427.164%2c1226.582%2c465.323%2c1244.568%2c497.142C1262.71%2c529.237%2c1305.173%2c531.148%2c1342.041%2c531.028' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1402.3269731244234 318.0050301832332L1323.6265821174309 330.46994756619785 1381.6741536953741 442.28807538520414z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1028.9396304315253 12.130416296578002L1068.6446480827044 198.92783783568865 1255.442069621815 159.22282018450946 1215.737051970636-27.574601354601196z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M945.836%2c648.228C970.049%2c648.122%2c990.025%2c631.319%2c1001.976%2c610.261C1013.754%2c589.507%2c1017.595%2c563.967%2c1005.245%2c543.548C993.246%2c523.71%2c969.005%2c516.622%2c945.836%2c517.442C924.221%2c518.207%2c904.566%2c529.054%2c893.291%2c547.512C881.484%2c566.842%2c878.359%2c590.675%2c888.836%2c610.757C900.108%2c632.363%2c921.466%2c648.335%2c945.836%2c648.228' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M690.9429009819986 609.2090772382634L777.1758979642639 603.1790786749592 725.0144016281749 476.84458248321346z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M79.02029026216391 511.4978112009318L198.424768598621 505.240087654868 192.16704505255723 385.8356093184109 72.76256671610014 392.0933328644747z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M803.3589105349596-49.248320274532446L768.2073390503161 72.90030674492014 876.4701645728125 47.90586405039892z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M673.1769310477702 711.2580763127735L781.3763541587622 653.7274225443281 640.980661950598 520.1936147620628z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M554.148%2c301.2C621.884%2c306.236%2c689.471%2c275.385%2c724.785%2c217.364C761.436%2c157.147%2c765.409%2c77.999%2c725.268%2c20.05C689.056%2c-32.228%2c617.663%2c-32.164%2c554.148%2c-28.977C497.879%2c-26.154%2c438.96%2c-12.712%2c410.391%2c35.848C381.497%2c84.96%2c395.302%2c144.784%2c422.445%2c194.885C451.25%2c248.054%2c493.844%2c296.717%2c554.148%2c301.2' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1147.6211129482356 318.4325386066412L1106.6185322550248 125.53056291104167 913.7165565594253 166.53314360425247 954.7191372526361 359.435119299852z' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1281.772%2c673.814C1307.192%2c672.997%2c1330.43%2c660.297%2c1343.607%2c638.544C1357.303%2c615.934%2c1359.196%2c588.567%2c1347.884%2c564.674C1334.566%2c536.543%2c1312.879%2c508.967%2c1281.772%2c507.938C1249.415%2c506.868%2c1222.399%2c531.228%2c1207.628%2c560.037C1194.12%2c586.382%2c1196.483%2c617.949%2c1212.647%2c642.753C1227.429%2c665.437%2c1254.711%2c674.684%2c1281.772%2c673.814' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M265.306%2c329.199C298.645%2c330.181%2c328.044%2c308.918%2c344.635%2c279.984C361.134%2c251.209%2c364.418%2c215.234%2c346.749%2c187.162C330.011%2c160.568%2c296.728%2c153.733%2c265.306%2c153.947C234.358%2c154.158%2c201.471%2c161.593%2c185.763%2c188.259C169.872%2c215.235%2c178.293%2c248.27%2c193.681%2c275.536C209.397%2c303.382%2c233.345%2c328.257%2c265.306%2c329.199' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1258.972%2c637.203C1306.358%2c635.911%2c1342.653%2c600.07%2c1366.043%2c558.838C1389.06%2c518.264%2c1401.578%2c468.533%2c1377.225%2c428.746C1353.637%2c390.209%2c1304.145%2c384.841%2c1258.972%2c383.909C1211.429%2c382.928%2c1157.867%2c383.815%2c1131.951%2c423.685C1104.383%2c466.098%2c1115.422%2c521.493%2c1141.284%2c564.967C1166.507%2c607.366%2c1209.656%2c638.548%2c1258.972%2c637.203' fill='rgba(57%2c 255%2c 20%2c 0.35)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='1440' height='696' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

@media only screen and (max-width: 852px) {
  .welcome-text {
    padding-top: 10rem;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.lock-scrolling {
  overflow: hidden;
}

.transparent {
  display: none;
}

.orderly-popup {
  border: 2px solid #3b9893 !important;
  max-width: 800px;
}
body > div.swal2-container.swal2-center.swal2-backdrop-show > div {
  border: 2px solid #5e17eb;
  max-width: 800px;
}

@media only screen and (max-width: 768px) {
  body > div.swal2-container.swal2-center.swal2-backdrop-show > div {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .hide-navbar {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .hide-navbar-mobile {
    display: none;
  }
}
